<section class="blueprints section" id="blueprints">
    <h2 class="section__title"><a href="#blueprints">Blueprints</a></h2>
    <span class="section__subtitle">Step-by-step guides to build stuff up</span>

    <div class="container workshop_search__box">
        <input class = "workshop_search__text" type="text" id="search_input" placeholder="Search blueprint title..." title="Type in a name">
    </div>

    <div class="blueprints__container container grid" id ="search_list">
        <!--==================== Blueprint 1 ====================-->
        <div class="blueprints__content grid">
            <div>
                <a href="/workshop/20mm_resp_cap.html"> {%- include img/workshop/20mm_resp_cap.svg -%} </a>
            </div>

            <div>
                <h3 class="blueprints__title">20mm respirometer cap</h3>
                <p class="blueprints__description">The main limitation of such a small respirometer is ensuring that the cap openings are wide enough to allow enough water flow without compromising the recirculation pump. At these small diameters, physics and drag really start to play against you. Keeping openings wide enough is a challenge because we have very little space to work with. However, with some clever sheet stacking tricks, we can increase our working space considerably.</p>
                <a href="/workshop/20mm_resp_cap.html" class="button button--flex button--small button--link blueprints__button">
                    View More
                    <i class="uil uil-arrow-right button__icon"></i>
                </a>
            </div>

        </div>
    </div>
</section>
