<div class="portfolio_list__content grid">
    <div class="portfolio_item_expander portfolio_list__close">
        <h3 class="portfolio_list__title">Reconciling agriculture and stream restoration in Europe: a review relating to the EU Water Framework Directive</h3>
        <p class="portfolio_list__description"><strong>Flávio, H.M.</strong>, Ferreira, P., Formigo, N., Svendsen, J. (2017)</p>
        <p class="portfolio_list__description"><em>Science of the Total Environment</em>, 596-597, 378-395</p>
       
        <a class="button button--flex button--small button--link portfolio_list__abstract_button">
            Abstract<i class="uil uil-eye-slash button__icon"></i>
        </a>

        <a download="" target="_blank" href="assets/pdf/Flavio_et_al_2017_Reconciling_agriculture_and_stream_restoration_in_Europe.pdf" class="button button--flex button--small button--link portfolio_list__download_button">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1016/j.scitotenv.2017.04.057" class="button button--flex button--small button--link portfolio_list__doi_button">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>

        <div class="portfolio_list__abstract">
            <p class="portfolio_list__description">
                <i class="uil uil-angle-right portfolio_list__abstract_arrow"></i>
                Agriculture is widespread across the EU and has caused considerable impacts on freshwater ecosystems. To revert the degradation caused to streams and rivers, research and restoration efforts have been developed to recover ecosystem functions and services, with the European Water Framework Directive (WFD) playing a significant role in strengthening the progress.
            </p>
            <p class="portfolio_list__description">
                Analysing recent peer-reviewed European literature (2009–2016), this review explores 1) the conflicts and difficulties faced when restoring agriculturally impacted streams, 2) the aspects relevant to effectively reconcile agricultural land uses and healthy riverine ecosystems and 3) the effects and potential shortcomings of the first WFD management cycle.
            </p>
            <p class="portfolio_list__description">
                Our analysis reveals significant progress in restoration efforts, but it also demonstrates an urgent need for a higher number and detail of restoration projects reported in the peer-reviewed literature. The first WFD cycle ended in 2015 without reaching the goal of good ecological status in many European water-bodies. Addressing limitations reported in recent papers, including difficulties in stakeholder integration and importance of small headwater streams, is crucial. Analysing recent developments on stakeholder engagement through structured participatory processes will likely reduce perception discrepancies and increase stakeholder interest during the next WFD planning cycle.
            </p>
            <p class="portfolio_list__description">
                Despite an overall dominance of nutrient-related research, studies are spreading across many important topics (e.g. stakeholder management, land use conflicts, climate change effects), which may play an important role in guiding future policy. Our recommendations are important for the second WFD cycle because they 1) help secure the development and dissemination of science-based restoration strategies and 2) provide guidance for future research needs.
            </p>
            <a class="button button--flex button--small button--link portfolio_list__abstract_close">
                Close<i class="uil uil-angle-up button__icon"></i>
            </a>

        </div>
    </div>
</div>
