<div class="portfolio_list__content grid">
    <div class="portfolio_item_expander portfolio_list__close">
        <h3 class="portfolio_list__title">Movement patterns and predator-prey interactions of domestic Atlantic salmon (Salmo salar) following an experimental release in a highly dynamic marine environment.</h3>
        <p class="portfolio_list__description">Lawrence, M.J., Wilson, B.M., Wringe, B.F., Hawkes, J.P., Hardie, D.C., Hamoutene, D., <strong>Flávio, H.</strong>, English, G., McKindsey, C.W., Trudel, M. (Accepted)</p>
        <p class="portfolio_list__description"><em>Canadian Journal of Fisheries and Aquatic Sciences</em></p>
       
        <a class="button button--flex button--small button--link portfolio_list__abstract_button">
            Abstract<i class="uil uil-eye-slash button__icon"></i>
        </a>

        <a class="button button--flex button--small button--link portfolio_list__download_button_grey">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a> 

       <!--  <a target="_blank" href="https://doi.org/10.1111/jfb.70208" class="button button--flex button--small button--link portfolio_list__doi_button">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a> -->

        <div class="portfolio_list__abstract">
            <p class="portfolio_list__description">
                <i class="uil uil-angle-right portfolio_list__abstract_arrow"></i>
                 Atlantic salmon (<em>Salmo salar</em>) are reared in marine net-pens and may escape due to operational errors and structural failures. The fate of these fish is poorly understood. This study sought to identify spatial patterns and the fate of Atlantic salmon post-smolts following a simulated escape event from an aquaculture site in the Bay of Fundy, Canada. Farm-raised salmon (N = 99) were implanted with an acoustic tag and released from a commercial aquaculture facility with their movement patterns and mortality tracked over a 4 month period. Fish took ~5 h to leave the release site and initially opted to either move inshore (N = 8) or out to sea (N = 73). Although, many fish returned to the release site. Most fish (72.7%) succumbed to predation shortly after release (64% by 48 h). Together, site fidelity and early-stage predation could substantially reduce the ecological risks associated with farm-raised salmon that escape from commercial aquaculture facilities.
            </p>
            <a class="button button--flex button--small button--link portfolio_list__abstract_close">
                Close<i class="uil uil-angle-up button__icon"></i>
            </a>

        </div>
    </div>
</div>
