<section class="portfolio_list section" id="portfolio">
    <h2 class="section__title"><a href="#portfolio">Portfolio</a></h2>
    <span class="section__subtitle">All the works I have published so far</span>

    <div class="container portfolio_search__box">
        <input class = "portfolio_search__text" type="text" id="search_input" placeholder="Search paper title..." title="Search by title">
    </div>

    <div class="portfolio_list__container container grid" id ="search_list">
        <!--==================== ITEMS ====================-->
        <!--  21 --> {%- include portfolio/021_ref_bellhouse2026.html -%}
        <!--  20 --> {%- include portfolio/020_ref_lawrence2026.html -%}
        <!--  19 --> {%- include portfolio/019_ref_notman-grobler2025.html -%}
        <!--  18 --> {%- include portfolio/018_ref_sortland2025b.html -%}
        <!--  17 --> {%- include portfolio/017_ref_lennox2025.html -%} 
        <!--  16 --> {%- include portfolio/016_ref_dsouza2025.html -%}
        <!--  15 --> {%- include portfolio/015_ref_sortland2025a.html -%}
        <!--  14 --> {%- include portfolio/014_ref_casabona2024.html -%}
        <!--  13 --> {%- include portfolio/013_ref_flavio2023.html -%}
        <!--  12 --> {%- include portfolio/012_ref_baden2022.html -%}
        <!--  11 --> {%- include portfolio/011_ref_gundelund2022.html -%}
        <!--  10 --> {%- include portfolio/010_ref_jimenez-mena2022.html -%}
        <!--   9 --> {%- include portfolio/009_ref_flavio2021.html -%}
        <!--   8 --> {%- include portfolio/008_ref_flavio2021minho.html -%}
        <!--   7 --> {%- include portfolio/007_ref_niella2020.html -%}
        <!--   6 --> {%- include portfolio/006_ref_rhodes2020.html -%}
        <!--   5 --> {%- include portfolio/005_ref_flavio2020bush.html -%}
        <!--   4 --> {%- include portfolio/004_ref_flavio2019.html -%}
        <!--   3 --> {%- include portfolio/003_ref_birnie-gauvin2019.html -%}
        <!--   2 --> {%- include portfolio/002_ref_jepsen2019.html -%}
        <!--   1 --> {%- include portfolio/001_ref_flavio2017.html -%}
        <!--===============================================-->
    </div>
</section>
