<section class="portfolio_list section" id="portfolio">
    <h2 class="section__title"><a href="#portfolio">Portfolio</a></h2>
    <span class="section__subtitle">All the works I have published so far</span>

    <div class="container portfolio_search__box">
        <input class = "portfolio_search__text" type="text" id="search_input" placeholder="Search paper title..." title="Search by title">
    </div>

    <div class="portfolio_list__container container grid" id ="search_list">
        <!--==================== ITEMS ====================-->
        {%- include portfolio/ref_sortland2025.html -%}
        {%- include portfolio/ref_casabona2024.html -%}
        {%- include portfolio/ref_flavio2023.html -%}
        {%- include portfolio/ref_baden2022.html -%}
        {%- include portfolio/ref_gundelund2022.html -%}
        {%- include portfolio/ref_jimenez-mena2022.html -%}
        {%- include portfolio/ref_flavio2021.html -%}
        {%- include portfolio/ref_flavio2021minho.html -%}
        {%- include portfolio/ref_niella2020.html -%}
        {%- include portfolio/ref_rhodes2020.html -%}
        {%- include portfolio/ref_flavio2020bush.html -%}
        {%- include portfolio/ref_flavio2019.html -%}
        {%- include portfolio/ref_birnie-gauvin2019.html -%}
        {%- include portfolio/ref_jepsen2019.html -%}
        {%- include portfolio/ref_flavio2017.html -%}
        <!--===============================================-->
    </div>
</section>
