<section class="portfolio_list section" id="portfolio">
    <h2 class="section__title"><a href="#portfolio">Portfolio</a></h2>
    <span class="section__subtitle">All the works I have published so far</span>

    <div class="container portfolio_search__box">
        <input class = "portfolio_search__text" type="text" id="search_input" placeholder="Search paper title..." title="Search by title">
    </div>

    <div class="portfolio_list__container container grid" id ="search_list">
        <!--==================== ITEMS ====================-->
        <!-- 19 --> {%- include portfolio/ref_notman-grobler2025.html -%}
        <!-- 18 --> {%- include portfolio/ref_sortland2025b.html -%}
        <!-- 17 --> {%- include portfolio/ref_lennox2025.html -%} 
        <!-- 16 --> {%- include portfolio/ref_dsouza2025.html -%}
        <!-- 15 --> {%- include portfolio/ref_sortland2025a.html -%}
        <!-- 14 --> {%- include portfolio/ref_casabona2024.html -%}
        <!-- 13 --> {%- include portfolio/ref_flavio2023.html -%}
        <!-- 12 --> {%- include portfolio/ref_baden2022.html -%}
        <!-- 11 --> {%- include portfolio/ref_gundelund2022.html -%}
        <!-- 10 --> {%- include portfolio/ref_jimenez-mena2022.html -%}
        <!--  9 --> {%- include portfolio/ref_flavio2021.html -%}
        <!--  8 --> {%- include portfolio/ref_flavio2021minho.html -%}
        <!--  7 --> {%- include portfolio/ref_niella2020.html -%}
        <!--  6 --> {%- include portfolio/ref_rhodes2020.html -%}
        <!--  5 --> {%- include portfolio/ref_flavio2020bush.html -%}
        <!--  4 --> {%- include portfolio/ref_flavio2019.html -%}
        <!--  3 --> {%- include portfolio/ref_birnie-gauvin2019.html -%}
        <!--  2 --> {%- include portfolio/ref_jepsen2019.html -%}
        <!--  1 --> {%- include portfolio/ref_flavio2017.html -%}
        <!--===============================================-->
    </div>
</section>
