<div class="portfolio_list__content grid">
    <div class="portfolio_item_expander portfolio_list__close">
        <h3 class="portfolio_list__title">actel: Standardised analysis of acoustic telemetry data from animals moving through receiver arrays</h3>
        <p class="portfolio_list__description"><strong>Flávio, H.</strong>, Baktoft, H. (2021) </p>
        <p class="portfolio_list__description"><em>Methods in Ecology and Evolution</em>, 12, 196-203</p>
       
        <a class="button button--flex button--small button--link portfolio_list__abstract_button">
            Abstract<i class="uil uil-eye-slash button__icon"></i>
        </a>

        <a download="" target="_blank" href="assets/pdf/Flavio_Baktoft_2021_actel.pdf" class="button button--flex button--small button--link portfolio_list__download_button">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1111/2041-210X.13503" class="button button--flex button--small button--link portfolio_list__doi_button">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>

        <div class="portfolio_list__abstract">
            <p class="portfolio_list__description">
                <i class="uil uil-angle-right portfolio_list__abstract_arrow"></i>
                1. Acoustic telemetry data often contain erroneous detections, which need to be addressed before further analysis. It is important that this process is systematic, standardised and reproducible.<br>
                2. The r package actel provides a systematic conditional pipeline to filter and analyse acoustic telemetry data in a reproducible fashion, for animals moving between receiver arrays.<br>
                3. actel outputs a standardised report containing the main results and the steps taken by the user, in addition to summary information for each animal and other content such as efficiency estimations for each receiver array.<br>
                4. actel improves the reproducibility of the acoustic data filtering and analysis, and simplifies the integration of acoustic data sets originating from different studies (in time and/or in space).
            </p>
            <a class="button button--flex button--small button--link portfolio_list__abstract_close">
                Close<i class="uil uil-angle-up button__icon"></i>
            </a>

        </div>
    </div>
</div>
