<div class="portfolio_list__content grid">
    <div class="portfolio_item_expander portfolio_list__close">
        <h3 class="portfolio_list__title">The impact of Cormorant predation on Atlantic salmon and Sea trout smolt survival</h3>
        <p class="portfolio_list__description">Jepsen, N., <strong>Flávio, H.</strong>, Koed, A. (2019)</p>
        <p class="portfolio_list__description"><em>Fisheries Management and Ecology</em>, 26(2), 183-186</p>
       
        <a class="button button--flex button--small button--link portfolio_list__abstract_button_grey">
            Abstract<i class="uil uil-eye-slash button__icon"></i>
        </a>

        <a download="" target="_blank" href="assets/pdf/Jepsen_et_al_2019_The_impact_of_Cormorant_predation_on_Atlantic_salmon_and_Sea_trout_smolt.pdf" class="button button--flex button--small button--link portfolio_list__download_button">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1111/fme.12329" class="button button--flex button--small button--link portfolio_list__doi_button">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
