<div class="portfolio_list__content grid">
    <div class="portfolio_item_expander portfolio_list__close">
        <h3 class="portfolio_list__title">Marine mortality in the river? Atlantic salmon smolts under high predation pressure in the last kilometres of a river monitored for stock assessment</h3>
        <p class="portfolio_list__description"><strong>Flávio, H.</strong>, Kennedy, R., Ensing, D., Jepsen, N., Aarestrup, K. (2020)</p>
        <p class="portfolio_list__description"><em>Fisheries Management and Ecology</em>, 27(1), 92-101</p>
       
        <a class="button button--flex button--small button--link portfolio_list__abstract_button">
            Abstract<i class="uil uil-eye-slash button__icon"></i>
        </a>

        <a download="" target="_blank" href="assets/pdf/Flavio_et_al_2020_Marine_mortality_in_the_river.pdf" class="button button--flex button--small button--link portfolio_list__download_button">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1111/FME.12405" class="button button--flex button--small button--link portfolio_list__doi_button">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>

        <div class="portfolio_list__abstract">
            <p class="portfolio_list__description">
                <i class="uil uil-angle-right portfolio_list__abstract_arrow"></i>
                The River Bush (Northern Ireland) is an index river for the estimation of Atlantic salmon, <em>Salmo salar L.</em>, stock size, population dynamics and marine survival rates. Marine survival estimates are based on the number of smolts counted at a trap 3.5 km upstream of the river outlet. The survival from release to coastal inshore waters for acoustic-tagged smolts released at the Bushmills trap varied between 32% and 68%, with both year and brightness during river exit playing a significant role in explaining the variations in survival. This constitutes an important survival bottleneck. Contrary to true marine mortality, this significant loss of smolts in the river and nearshore environments could be reduced by focused management actions. More studies on other rivers, where smolts are enumerated above the head of tide, could further partition smolt and post-smolt mortality, help differentiate true marine survival and help understand fluctuations in adult returns.
            </p>
            <a class="button button--flex button--small button--link portfolio_list__abstract_close">
                Close<i class="uil uil-angle-up button__icon"></i>
            </a>

        </div>
    </div>
</div>
