<div class="portfolio_list__content grid">
    <div class="portfolio_item_expander portfolio_list__close">
        <h3 class="portfolio_list__title">Naturalised Atlantic salmon smolts are more likely to reach the sea than wild smolts in a lowland fjord</h3>
        <p class="portfolio_list__description"><strong>Flávio, H.</strong>, Aarestrup, K., Jepsen, N., Koed, A. (2019)</p>
        <p class="portfolio_list__description"><em>River Research and Applications</em>, 35(3) 216-223</p>
       
        <a class="button button--flex button--small button--link portfolio_list__abstract_button">
            Abstract<i class="uil uil-eye-slash button__icon"></i>
        </a>

        <a download="" target="_blank" href="assets/pdf/Flavio_et_al_2019_Naturalised_Atlantic_salmon_smolts_are_more_likely_to_reach_the_sea_than_wild.pdf" class="button button--flex button--small button--link portfolio_list__download_button">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1002/rra.3400" class="button button--flex button--small button--link portfolio_list__doi_button">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>

        <div class="portfolio_list__abstract">
            <p class="portfolio_list__description">
                <i class="uil uil-angle-right portfolio_list__abstract_arrow"></i>
                The survival rates of three groups of seaward-migrating <i>Salmo salar</i> smolts were investigated in 2005, 2016, and 2017 in the River Skjern and River Omme, as well as in the Ringkøbing Fjord using acoustic telemetry. Ringkøbing Fjord extends for approximately 300 km<sup>2</sup>, and has a narrow, regulated outlet to the sea. Smolts of three different origins: (a) wild smolts, (b) hatchery-reared smolts previously released at half-year-old, and (c) hatchery-reared smolts previously released at 1-year-old were captured in rotary screw traps and surgically implanted with acoustic transmitters. The progress during seaward migration was monitored with a network of automatic listening stations deployed in the river estuary, fjord mouth and sea opening.<br>
                The smolts' probability of survival in the river was related to their length, with larger smolts being more likely to reach the fjord. Once in the fjord, the probability of reaching the sea was related with the smolt's group, with smolts previously released at half-year-old being more likely to succeed than wild smolts. However, none of the biometric or behavioural variables explained the difference between the studied smolt groups, masking the potential reasons behind this difference in survival probability.<br>
                Overall, approximately 47% of the tagged smolts were registered at the last array of automatic listening stations (i.e., entered the sea), demonstrating the early migration as a critical bottleneck for the local Atlantic salmon population. Ultimately, this limits the number of Atlantic salmon that survive to adulthood and return to River Skjern and River Omme for spawning.
            </p>
            <a class="button button--flex button--small button--link portfolio_list__abstract_close">
                Close<i class="uil uil-angle-up button__icon"></i>
            </a>

        </div>
    </div>
</div>
