<div class="portfolio_list__content grid">
    <div class="portfolio_item_expander portfolio_list__close">
        <h3 class="portfolio_list__title">Refined Shortest Paths (RSP): incorporation of topography in space use estimation from node-based telemetry data</h3>
        <p class="portfolio_list__description">Niella. Y., <strong>Flávio, H.</strong>, Smoothey, A.F., Aarestrup, K., Taylor, M.D., Peddemors, V., Harcourt, R. (2020)</p>
        <p class="portfolio_list__description"><em>Methods in Ecology and Evolution</em>, 11(12), 1733-1742</p>
       
        <a class="button button--flex button--small button--link portfolio_list__abstract_button">
            Abstract<i class="uil uil-eye-slash button__icon"></i>
        </a>

        <a download="" target="_blank" href="assets/pdf/Niella_et_al_2020_Refined_Shortest_Paths_(RSP).pdf" class="button button--flex button--small button--link portfolio_list__download_button">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/doi.org/10.1111/2041-210X.13484" class="button button--flex button--small button--link portfolio_list__doi_button">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>

        <div class="portfolio_list__abstract">
            <p class="portfolio_list__description">
                <i class="uil uil-angle-right portfolio_list__abstract_arrow"></i>
                1. Acoustic telemetry enables spatial ecologists to collect movement data from a variety of aquatic species. In estuaries and rivers, accounting for the complex shape of water bodies is challenging. Current methods for analysing utilization distributions (UDs) are restricted to using the locations of receivers where animals have been detected, which limits the information available to estimate movement paths. <br>
                2. We present a new r package (RSP—Refined Shortest Paths) for analysing the movements of animals tracked with acoustic transmitters in environments constrained by landmasses. The method estimates the shortest in water locations of monitored animals between pairs of detections using least-cost path analysis. It then applies dynamic Brownian Bridge Movement Models to calculate UD areas. Intra- and interspecific overlaps in space and time are calculated and can be used, for example, to investigate potential influencing environmental factors. <br>
                3. Tracks refined with RSP follow the estuary shape, yielding substantially longer, but more realistic travel distances. Showcased examples demonstrate how RSP can be used to analyse intra- and interspecific movement patterns; determine similarities in habitat use; identify the environmental conditions responsible for influencing the size of the space use areas; and assess levels of spatial overlap between different species. <br>
                4. The RSP toolkit generates more realistic movements of tracked animals than those derived using receiver locations alone. An incidental benefit is its ability to deal with receiver loss, a common problem in acoustic telemetry studies. The analysis can be readily customized to suit different study species, array configurations and habitat shapes.
            </p>
            <a class="button button--flex button--small button--link portfolio_list__abstract_close">
                Close<i class="uil uil-angle-up button__icon"></i>
            </a>

        </div>
    </div>
</div>
