<section class="skills section" id="skills">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">Things I've learned along the way</span>

    <div class="skills__container container grid">
        <!--==================== SKILLS 1 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-pencil skills__icon"></i>
                <h3 class="skills__title">Course <br> Teaching</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Course <br> Teaching</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <ul class="skills__modal-skills grid">
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 2 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-code skills__icon"></i>
                <h3 class="skills__title">R stats <br> programming</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Frontend <br> Developer</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <ul class="skills__modal-skills grid">
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 3 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-screwdriver-wrench skills__icon"></i>
                <h3 class="skills__title">Electronics <br> Assembly</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Branding <br> Designer</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <ul class="skills__modal-skills grid">
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 4 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-fish-fins skills__icon"></i>
                <h3 class="skills__title">Aquatic animal <br> husbandry</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Branding <br> Designer</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <ul class="skills__modal-skills grid">
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 5 ====================-->
        <div class="skills__content">
            <div>
                <!-- <i class="uil uil-lightbulb skills__icon"></i> -->
                <i class="fa-regular fa-lightbulb skills__icon"></i>
                <h3 class="skills__title">Experimental <br> design</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Branding <br> Designer</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <ul class="skills__modal-skills grid">
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 6 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-users skills__icon"></i>
                <h3 class="skills__title">Team <br> Leadership</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Branding <br> Designer</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <ul class="skills__modal-skills grid">
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                        <li class="skills__modal-service">
                            <i class="uil uil-check-circle skills__modal-icon"></i>
                            <p>Description of the service</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
