            <!--==================== INTERESTS ====================-->
            <section class="interests section" id="interests">
                <h2 class="section__title">Interests</h2>
                <span class="section__subtitle">My scientific focus</span>

                <div class="interests__container container grid">
                    <div> <!--First column-->
                        <!--==================== INTERESTS 1 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                                <i class="fa-solid fa-leaf interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Ecology</h1>
                                    <span class="interests__subtitle">The interaction of living things</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>

                            <div class="interests__list grid">
                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <h3 class="interests__name">Change this</h3>
                                        <span class="interests__number">90%</span>
                                    </div>
                                    <div class="interests__bar">
                                        <span class="interests__percentage interests__html"></span>
                                    </div>
                                </div>

                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <h3 class="interests__name">CSS</h3>
                                        <span class="interests__number">95%</span>
                                    </div>
                                    <div class="interests__bar">
                                        <span class="interests__percentage interests__css"></span>
                                    </div>
                                </div>

                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <h3 class="interests__name">Java</h3>
                                        <span class="interests__number">80%</span>
                                    </div>
                                    <div class="interests__bar">
                                        <span class="interests__percentage interests__java"></span>
                                    </div>
                                </div>

                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <h3 class="interests__name">React</h3>
                                        <span class="interests__number">70%</span>
                                    </div>
                                    <div class="interests__bar">
                                        <span class="interests__percentage interests__react"></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--==================== INTERESTS 2 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                               <i class="fa-solid fa-tower-broadcast interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Animal telemetry</h1>
                                    <span class="interests__subtitle">Unveiling movements and patterns</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>

                            <div class="interests__list grid">

                            </div>
                        </div>
                    </div>

                    <div>
                        <!--==================== INTERESTS 3 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                                <i class="fa-solid fa-droplet interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Aquatic respirometry</h1>
                                    <span class="interests__subtitle">Underwater oxygen consumption</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>

                            <div class="interests__list grid">
                                <p>test paragraph</p>
                            </div>
                        </div>

                        <!--==================== INTERESTS 4 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                                <i class="fa-solid fa-temperature-half interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Thermal physiology</h1>
                                    <span class="interests__subtitle">Responses to temperature changes</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>

                            <div class="interests__list grid">
                                <div class="interests__data">
                                    <p>test paragraph</p>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
            </section>
