<section class="skills section">
    <h2 class="section__title">Skills</h2>
    <span class="section__subtitle">Things I've learned along the way</span>

    <div class="skills__container container grid">
        <!--==================== SKILLS 1 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-pencil skills__icon"></i>
                <h3 class="skills__title">Course <br> teaching</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Course teaching</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p><strong>Animals: Form and function</strong></p>
                            <p>In this undergraduate level comparative physiology course, we study the different systems that compose most organisms, as well as their functions and how they have changed throughout the animal evolutionary lines. Students are encouraged to attentively observe the animals that commonly surround them, and in-class debates foment and healthy exchanging of ideas and viepoints.</p>

                        <p><strong>R hour</strong></p>
                            <p>R hour is a small club intended to give undergraduate and graduate students the basics of coding in R. From the similarities and differences between human languages and computer languages, to correctly selecting statistical tests and inspecting their outcomes, R hour provides a bit of everything. R hour sometimes ends up being used as a place to share knowledge on presentation and poster preparation as well, including teaching students how to use Inkscape.</p>
                        <p><strong>Workshops</strong></p>
                            <p>On top of the more regular work described above, you might also find me teaching workshops here and there on things such as biomonitoring of rivers, acoustic telemetry data analysis, and/or R coding in general.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 2 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-code skills__icon"></i>
                <h3 class="skills__title">R stats <br> programming</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">R stats programming</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p><strong>Data analysis</strong></p>
                            <p>Over the years I have developed a strong background in R programming, including for data cleaning and statistical analyses. My current skills range from the knowledge to pick the right statistical test for a given dataset, to the capacity to mold that dataset to conduct the required analyses, to producing publication-ready images, among others.</p>
                        <p><strong>R packages</strong></p>
                            <p>On top of being the developer and maintainer of the R package actel, I have also collaborated with other people in the development of supeRbaits and RSP.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 3 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-screwdriver-wrench skills__icon"></i>
                <h3 class="skills__title">Equipment <br> assembly</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Equipment assembly</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                         <p><strong>CAD & laser cutting</strong></p>
                            <p>During my first Postdoc I learned how to design respirometry equipment using FreeCAD and laser cutting. Some of my creations include tiny (22ml) respirometers, rather big ones (24L), as well as pump and temperature controllers.</p>
                        <p><strong>Arduino</strong></p>
                            <p>The pump and temperature controllers mentioned above are controlled using arduinos. I've learned how to integrate them with R, which allows me to control equipment reactively in relation to the data that is being collected.</p>
                        <p><strong>Integrations</strong></p>
                            <p>A big part of making our life easier in research relates to making machines talk with each other and with us in more efficient ways. After learning several different skills individually, I've learned how to bring them all together to develop remote monitoring systems that help me ensure my experiments go according to plan.</p>

                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 4 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-fish-fins skills__icon"></i>
                <h3 class="skills__title">Aquatic animal <br> husbandry</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Aquatic animal husbandry</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                         <p><strong>RAS design and building</strong></p>
                            <p>Recirculating Aquatic Systems (RAS) are a great way to maintain aquatic organisms. I have been trained in the different life-support systems for aquatic animals, and can confidently build RAS. This also extends to the gradient that goes from fully flow-through systems to fully closed systems.</p>
                        <p><strong>Automatic anomaly detection</strong></p>
                            <p>By combining other skills (arduinos, integration, R, etc), I can also assemble anomaly detection systems that quickly inform the team if anything is going wrong with out animal holding systems. From temperature, to air-pressure, to water level, there is a sensor for everything :)</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 5 ====================-->
        <div class="skills__content">
            <div>
                <!-- <i class="uil uil-lightbulb skills__icon"></i> -->
                <i class="fa-regular fa-lightbulb skills__icon"></i>
                <h3 class="skills__title">Experimental <br> design</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Experimental design</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p>Both for my own experiments and when mentoring students, experimental design plays a central role in how I prepare my research. From the numbers of animals required, to the groups we need and the variables we aim to collect, everything is thought through before the experiment starts. This, together with a previously-drawn timeline, ensures that no time nor animals are wasted when we do research.</p>
                        <p>I usually rely on programs such as Inkscape to draw schematics, and GanttProject to draw out the steps of longer experiments.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 6 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-users skills__icon"></i>
                <h3 class="skills__title">Team <br> leadership</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Team leadership</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p>Over the years, I have learned how to work with a wide variety of personalities. I strive to be a present supervisor, and regularly check with my students to confirm how they are feeling about their project and their progress. </p>
                        <p>I make a strong effort to get to know those who working with me, and understand what matters to them. This includes understanding and chatting about preferred hobbies (be it hockey, fishing, painting, etc.), and even keeping important dates in mind (for example depending on religious beliefs).</p>
                        <p>I aim to make sure any work environment I am involved in feels safe and welcoming for everyone. I want students to feel that their ideas are welcome, and that we are working together to achieve a common goal. Ultimately, I want science to be fun for everyone involved :)</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
