<section class="qualification section" id="qualifications">
    <h2 class="section__title">Qualifications</h2>
    <span class="section__subtitle">My journey so far</span>

    <div class="qualification__container container">
        <div class="qualification__tabs">
            <div class="qualification__button button--flex qualification__active" data-target='#education'>
                <i class="uil uil-graduation-cap qualification__icon"></i>
                Education
            </div>

            <div class="qualification__button button--flex" data-target='#work'>
                <i class="uil uil-briefcase-alt qualification__icon"></i>
                Work
            </div>
        </div>

        <div class="qualification__sections">
            <!--==================== EDUCATION CONTENT ====================-->
            <div class="qualification__content qualification__active" data-content id="education">
                <!--==================== EDUCATION 1 ====================-->
 <!--                <div class="qualification__data qualification__data__left">
                    <div>
                        <div class="qualification__calendar">
                            2020 - 2024
                            <i class="uil uil-calendar-alt"></i>
                        </div>
                        <h3 class="qualification__title">Postdoc in Fish Physiology</h3>
                        <span class="qualification__subtitle">Wilfrid Laurier University</span>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
 -->
                <!--==================== EDUCATION 2 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2017 - 2020
                        </div>
                        <h3 class="qualification__title">PhD in Fish Ecology</h3>
                        <span class="qualification__subtitle">Technical University of Denmark</span>
                    </div>
                </div>
                <!--==================== EDUCATION 3 ====================-->
                <div class="qualification__data qualification__data__left">
                    <div>
                        <div class="qualification__calendar">
                            2015 - 2016
                            <i class="uil uil-calendar-alt"></i>
                        </div>
                        <h3 class="qualification__title">Masters in Ecology, Environment and Territory</h3>
                        <span class="qualification__subtitle">University of Porto</span>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== EDUCATION 4 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                    
                    <div>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2011 - 2014
                        </div>
                        <h3 class="qualification__title">Bachelor in Biology</h3>
                        <span class="qualification__subtitle">University of Porto</span>
                    </div>
                </div>
                <!--==================== EDUCATION 5 ====================-->
                <div class="qualification__data qualification__data__left">
                    <div>
                        <div class="qualification__calendar">
                            2008 - 2010
                            <i class="uil uil-calendar-alt"></i>
                        </div>
                        <h3 class="qualification__title">Professional course in Environmental Management</h3>
                        <span class="qualification__subtitle">Professional School Conde S. Bento, Portugal</span>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!-- <span class="qualification__line"></span> -->
                    </div>
                </div>
            </div>
            <!--==================== WORK CONTENT ====================-->
            <div class="qualification__content" data-content id="work">
                <!--==================== WORK 1 ====================-->
                <div class="qualification__data qualification__data__left">
                    <div>
                        <div class="qualification__calendar">
                            2020 - Present 
                            <i class="uil uil-calendar-alt"></i>
                        </div>
                        <h3 class="qualification__title">Post-doctoral fellow</h3>
                        <span class="qualification__subtitle">Wilfrid Laurier University, Canada</span>

                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>

                <!--==================== WORK 2 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>

                    <div>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2017 - 2020
                        </div>
                        <h3 class="qualification__title">PhD candidate</h3>
                        <span class="qualification__subtitle">Technical University of Denmark</span>

                    </div>
                </div>
                <!--==================== WORK 3 ====================-->
                <div class="qualification__data qualification__data__left">
                    <div>
                        <div class="qualification__calendar">
                            2017
                            <i class="uil uil-calendar-alt"></i>
                        </div>
                        <h3 class="qualification__title">Student assistant</h3>
                        <!-- <span class="qualification__subtitle">Technical University of Denmark</span> -->
                        <h3 class="qualification__title">Short term researcher</h3>
                        <span class="qualification__subtitle">Technical University of Denmark</span>
                    </div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <span class="qualification__line"></span>
                    </div>
                </div>
                <!--==================== WORK 4 ====================-->
                <div class="qualification__data">
                    <div></div>

                    <div>
                        <span class="qualification__rounder"></span>
                        <!-- <span class="qualification__line"></span> -->
                    </div>
                    
                    <div>
                        <div class="qualification__calendar">
                            <i class="uil uil-calendar-alt"></i>
                            2010 - 2016
                        </div>
                        <h3 class="qualification__title">Student assistant</h3>
                        <span class="qualification__subtitle">Faculty of Sciences, University of Porto, Portugal</span>
                    </div>
                </div>
            </div>

<!--             <div class="qualification__learn-more">
                <a href="qualifications/index.html" class="button button--flex">
                    Learn more about my degrees and jobs<i class="fa-solid fa-scroll button__icon"></i>
                </a>
            </div> -->
        </div>
    </div>
</section>
