<!--==================== Tippy JS ====================-->

<script src="https://unpkg.com/@popperjs/core@2"></script>
<script src="https://unpkg.com/tippy.js@6"></script>

<script>
  // With the above scripts loaded, you can call `tippy()` with a CSS
  // selector and a `content` prop:
  tippy('#telemetry', {
    placement: 'bottom-start',
    allowHTML: true,
    content: 'Telemetry is the measurement of something from a distance. The word is derived from the Greek roots <em>tele</em>, "remote", and <em>metron</em>, "measure". Radio and acoustic refer to two different means of obtaining data remotely.',
  });
  tippy('#ecophysiologist', {
    placement: 'bottom-start',
    allowHTML: true,
    content: 'A scientist interested in ecology and physiology, linking both to understand how organisms\' respond to different environmental conditions.<br>I in particular study the responses of fish to environmental stressors, such as rapid changes in temperature.',
  });
  tippy('#eco_health', {
    placement: 'bottom-start',
    allowHTML: true,
    content: 'The capacity an ecosystem has to sustain life, to resist disturbances, and to provide us with goods and benefits. The plants and animals living in an ecosystem can tell us how well it is doing.',
  });
  tippy('#respirometry', {
    placement: 'bottom-start',
    allowHTML: true,
    content: 'Aquatic respirometry allows us to track the oxygen consumption of animals living under water. Breathing is just as important for them as it is for us!',
  });      
</script>

