<!--==================== PORTFOLIO 8 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e6/Sea_lamprey_%288740460349%29.jpg/960px-Sea_lamprey_%288740460349%29.jpg" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Sea_lamprey_(8740460349).jpg">T. Lawrence; Sea lamprey</a>, <br> <a target="_blank" href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Research article</h3>
        <p class="portfolio__description">The lampricide 3-trifluoromethyl-4-nitrophenol (TFM) stimulates oxygen consumption by larval sea lamprey in a dose-dependent manner</p>
        <p class="portfolio__description">D'Souza, L.*, <strong>Flávio, H.*</strong>, Wilkie, M. (2025)</p>

        <p class="portfolio__description"><em>Journal of Great Lakes Research</em>, 51, 102536</p>
        <p class="portfolio__description">*co-first authorship</p>

        <a download="" target="_blank" href="assets/pdf/Sortland_et_al_2025_A_Physical_Bottleneck_Increases_Predation.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1111/fme.12779" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
