<!--==================== PORTFOLIO 10 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Brown_trout.JPG/960px-Brown_trout.JPG" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Brown_trout.JPG">Brown trout, Zouavman Le Zouave</a>, <br> <a target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/deed.en">CC BY-SA 3.0</a>, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Research article</h3>
        <p class="portfolio__description">Does wetland restoration create an ecological trap for migrating brown trout smolts?</p>
        <p class="portfolio__description">Sortland, L. K., Birnie-Gauvin, K., Lennox, R. J., <strong>Flávio, H.</strong>, Koed, A., Aarestrup, K. (in press)</p>

        <p class="portfolio__description"><em>Restoration Ecology</em></p>

        <a download="" target="_blank" href="assets/pdf/Sortland_et_al_Does_wetland_restoration_create_an_ecological_trap_for_migrating_Brown_trout_smolts.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1111/rec.70066" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
