<!--==================== PORTFOLIO 6 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/91/Piva_River_Underwater_Landscape.jpg/640px-Piva_River_Underwater_Landscape.jpg" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Piva_River_Underwater_Landscape.jpg">Liquid Art, Underwater landscape</a>, <br> <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0</a>, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Research article</h3>
        <p class="portfolio__description">Cobble reef restoration in the Baltic Sea: implications for life below water</p>
        <p class="portfolio__description">Casabona, E., Wilms, T., Moltesen, M., Bertelsen, J., M. Kruse, B., <strong>Flávio, H.</strong>, Holloway, P., Svendsen, J.C. (2024)</p>

        <p class="portfolio__description"><em>Aquatic Conservation: Marine and Freshwater Ecosystems</em>, 34(8), e4216</p>

        <a download="" target="_blank" href="assets/pdf/Casabona_et_al_2024_Cobble_reef_restoration_in_the_Baltic_Sea_Implications_for_life_below_water.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1002/aqc.4216" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
