<section class="portfolio section" id="portfolio">
    <h2 class="section__title"><a href="#portfolio">Portfolio</a></h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="portfolio__container container swiper">
        <div class="swiper-wrapper">
            <!--==================== PORTFOLIO 1 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <div class="portfolio__img-div">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/48/Atlantic_cod_%281%29.jpg/640px-Atlantic_cod_%281%29.jpg" alt="" class="portfolio__img">

                    <p class="portfolio__img-source">
                        <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Atlantic_cod_(1).jpg">Peter from Edinburgh, Scotland, UK</a>, <br> <a target="_blank" href="https://creativecommons.org/licenses/by/2.0">CC BY 2.0</a>, via Wikimedia Commons
                    </p>
                </div>

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Review article</h3>
                    <p class="portfolio__description">Hard-bottom habitats support commercially important fish species: A systematic review for the North Atlantic Ocean and Baltic Sea.</p>
                    <p class="portfolio__description"><strong>Flávio, H.</strong>, Seitz, R.D., Eggleston, D.B., Svendsen, J.C., Støttrup, J.G. (2023).</p>

                    <p class="portfolio__description">PeerJ, 11, e14681.</p>

                    <a download="" target="_blank" href="assets/pdf/Flavio_et_al_2023_Hard-bottom_habitats_support_commercially_important_fish_species.pdf" class="button button--flex button--small portfolio__button_download">
                        PDF <i class="uil uil-arrow-down button__icon"></i>
                    </a>
                    <a target="_blank" href="https://doi.org/10.7717/peerj.14681" class="button button--flex button--small portfolio__button_online">
                        DOI <i class="uil uil-external-link-alt button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 2 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <div class="portfolio__img-div">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Scophthalmus.jpg/640px-Scophthalmus.jpg" alt="" class="portfolio__img">

                    <p class="portfolio__img-source">
                        <a target = "_blank" href="https://commons.wikimedia.org/wiki/File:Scophthalmus.jpg">Dan Kollmann</a>,<br> <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
                    </p>
                </div>

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Research article</h3>
                    <p class="portfolio__description">Using acoustic telemetry to locate flatfish spawning areas: Estuarine migrations of turbot <em>Scophthalmus maximus</em> and European flounder <em>Platichthys flesus</em></p>
                    <p class="portfolio__description">Baden, C., Christoffersen, M., <strong>Flávio, H.</strong>, Brown, E., Aarestrup, K., Svendsen, J.C. (2022)</p>

                    <p class="portfolio__description">Journal of Sea Research, 183, 102187.</p>

                    <a download="" target="_blank" href="assets/pdf/Baden_et_al_2022_Using_acoustic_telemetry_to_locate_flatfish_spawning_areas.pdf" class="button button--flex button--small portfolio__button_download">
                        PDF <i class="uil uil-arrow-down button__icon"></i>
                    </a>
                    <a target="_blank" href="https://doi.org/10.1016/j.seares.2022.102187" class="button button--flex button--small portfolio__button_online">
                        DOI <i class="uil uil-external-link-alt button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 3 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <div class="portfolio__img-div">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Fly_Fishing_%28154375843%29.jpeg/640px-Fly_Fishing_%28154375843%29.jpeg" alt="" class="portfolio__img">

                    <p class="portfolio__img-source">
                        <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Fly_Fishing_(154375843).jpeg">Paul Nute</a>,<br> CC0, via Wikimedia Commons
                    </p>
                </div>

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Research article</h3>
                    <p class="portfolio__description">Investigating angler satisfaction: the relevance of catch, motives and contextual conditions.</p>
                    <p class="portfolio__description">Gundelund, C., Arlinghaus, R., Birdsong, M., <strong>Flávio, H.</strong>, Skov, C. (2022)</p>

                    <p class="portfolio__description">Fisheries Research, 250, 106294.</p>

                    <a download="" target="_blank" href="assets/pdf/Gundelund_et_al_2022_Investigating_angler_satisfaction.pdf" class="button button--flex button--small portfolio__button_download">
                        PDF <i class="uil uil-arrow-down button__icon"></i>
                    </a>
                    <a target="_blank" href="https://doi.org/10.1016/j.fishres.2022.106294" class="button button--flex button--small portfolio__button_online">
                        DOI <i class="uil uil-external-link-alt button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 4 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <div class="portfolio__img-div">
                    <img src="assets/img/home/supeRbaits.png" alt="" class="portfolio__img">
                </div>

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Resource article</h3>
                    <p class="portfolio__description">Fishing for DNA? Designing baits for population genetics in target enrichment experiments: guidelines, considerations and the new tool supeRbaits.</p>
                    <p class="portfolio__description">Jiménez-Mena, B., <strong>Flávio, H.</strong>, Henriques, R., Manuzzi, A., Ramos, M., Meldrup, D., Edson, J., Pálsson, S., Ólafsdóttir, G. A., Ovenden, J. R., Nielsen E. (2022)</p>

                    <p class="portfolio__description">Molecular Ecology Resources. 22, 5, 2105-2119.</p>

                    <a download="" target="_blank" href="assets/pdf/Jimenez-Mena_et_al_2022_Fishing_for_DNA.pdf" class="button button--flex button--small portfolio__button_download">
                        PDF <i class="uil uil-arrow-down button__icon"></i>
                    </a>
                    <a target="_blank" href="http://doi.org/10.1111/1755-0998.13598" class="button button--flex button--small portfolio__button_online">
                        DOI <i class="uil uil-external-link-alt button__icon"></i>
                    </a>
                </div>
            </div>

            <!--==================== PORTFOLIO 5 ====================-->
            <div class="portfolio__content grid swiper-slide">
                <div class="portfolio__img-div">
                    <img src="assets/img/home/actel_logo.svg" alt="" class="portfolio__img">
                </div>

                <div class="portfolio__data">
                    <h3 class="portfolio__title">Application article</h3>
                    <p class="portfolio__description">actel: Standardised analysis of acoustic telemetry data from animals moving through receiver arrays.</p>
                    <p class="portfolio__description"><strong>Flávio, H.</strong>, Baktoft, H. (2021)</p>

                    <p class="portfolio__description">Methods in Ecology and Evolution. 12, 196-203.</p>

                    <a download="" target="_blank" href="assets/pdf/Flavio_Baktoft_2021_actel.pdf" class="button button--flex button--small portfolio__button_download">
                        PDF <i class="uil uil-arrow-down button__icon"></i>
                    </a>
                    <a target="_blank" href="https://doi.org/10.1111/2041-210X.13503" class="button button--flex button--small portfolio__button_online">
                        DOI <i class="uil uil-external-link-alt button__icon"></i>
                    </a>
                </div>
            </div>

        </div>
        <!-- Add arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>
        <!-- Add pagination -->
        <div class="swiper-pagination swiper-pagination-portfolio"></div>
    </div>

<!--     <div class="portfolio__learn-more">
        <a href="outputs/index.html" class="button button--flex">
            See full list of works<i class="fa-solid fa-scroll button__icon"></i>
        </a>
    </div>
 -->
</section>
