<!--==================== PORTFOLIO 11 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Brook_trout_01.jpg/640px-Brook_trout_01.jpg" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Brook_trout_01.jpg">Brook trout juvenile</a>, <br> <a target="_blank" href="https://en.wikipedia.org/wiki/Public_domain">Public Domain</a>, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Research article</h3>
        <p class="portfolio__description">Assessing Metabolic Rate and Post-Tagging Recovery in Juvenile Fish.</p>
        <p class="portfolio__description">Notman-Grobler, O. D. P., Mastrodimitropoulos, P. M. B., Bevilacqua, A., Lennox, R. J., <strong>Flávio, H.</strong> (in press)

        <p class="portfolio__description"><em>Journal of Fish Biology</em></p>

        <a download="" target="_blank" href="assets/pdf/Notman-Grobler_et_al_Assessing_metabolic_rate_and_post-tagging_recovery_in_juvenile_fish.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1111/jfb.70208" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
