<section class="portfolio section" id="portfolio">
    <h2 class="section__title"><a href="#portfolio">Portfolio</a></h2>
    <span class="section__subtitle">Most recent work</span>

    <div class="portfolio__container container swiper">
        <div class="swiper-wrapper">
            {%- include home/home_portfolio_item_9.html -%}
            {%- include home/home_portfolio_item_8.html -%}
            {%- include home/home_portfolio_item_7.html -%}
            {%- include home/home_portfolio_item_6.html -%}
            {%- include home/home_portfolio_item_1.html -%}
        </div>
        <!-- Add arrows -->
        <div class="swiper-button-next">
            <i class="uil uil-angle-right-b swiper-portfolio-icon"></i>
        </div>
        <div class="swiper-button-prev">
            <i class="uil uil-angle-left-b swiper-portfolio-icon"></i>
        </div>
        <!-- Add pagination -->
        <div class="swiper-pagination swiper-pagination-portfolio"></div>
    </div>

    <div class="portfolio__learn-more">
        <a href="/portfolio.html" class="button button--flex">
            See full list of works<i class="fa-solid fa-scroll button__icon"></i>
        </a>
    </div>

</section>
