            <!--==================== INTERESTS ====================-->
            <section class="interests section" id="interests">
                <h2 class="section__title"><a href="#interests">Interests</a></h2>
                <span class="section__subtitle">My scientific focus</span>

                <div class="interests__container container grid">
                    <div> <!--First column-->
                        <!--==================== INTERESTS 1 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                                <i class="fa-solid fa-leaf interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Ecology</h1>
                                    <span class="interests__subtitle">The interactions between living things</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>

                            <div class="interests__list grid">
                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <p>This is my foundational interest, having driven most of my studies and research. I am fascinated by the interactions between living beings, as well as their relationships with the abiotic environment that surrounds them. These interactions inform us about the health of the ecosystem, and therefore help us understand and repair any damage we might have done.</p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <!--==================== INTERESTS 2 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                               <i class="fa-solid fa-tower-broadcast interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Animal telemetry</h1>
                                    <span class="interests__subtitle">Unveiling movements and patterns</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>

                            <div class="interests__list grid">
                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <p>I first entered the world of animal telemetry when I moved to Denmark. So far, I've tried acoustic, radio, and PIT telemetry. Tracking animals in the wild gives us an incredible window into their life stories, revealing hidden worlds where we least expect them. This information can feed into our management plans, allowing us to plan a future that is sustainable and respectable for all living beings.</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div>
                        <!--==================== INTERESTS 3 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                                <i class="fa-solid fa-droplet interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Aquatic respirometry</h1>
                                    <span class="interests__subtitle">Underwater oxygen consumption</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>


                            <div class="interests__list grid">
                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <p>This is a fascinating topic, both from a physiological and technical point of view. I've spent a fair amount of time designing equipment to help me reliably measure and remotely monitor the oxygen consumption of fish using intermittent flow respirometry. Oxygen consumption is a proxy for metabolic rate. When we measure it under different circumstances, we can learn how well an animal copes in different environments.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>

                        <!--==================== INTERESTS 4 ====================-->
                        <div class="interests__content interests__close">
                            <div class="interests__header">
                                <i class="fa-solid fa-temperature-half interests__icon"></i>

                                <div>
                                    <h1 class="interests__titles">Thermal physiology</h1>
                                    <span class="interests__subtitle">Responses to temperature changes</span>
                                </div>

                                <i class="uil uil-angle-down interests__arrow"></i>
                            </div>


                            <div class="interests__list grid">
                                <div class="interests__data">
                                    <div class="interests__titles">
                                        <p>Temperature plays a crucial role in the reactions that happen inside living organisms. Some organisms, like us, tightly regulate their body temperature to ensure stable conditions. Others allow their internal temperature to fluctuate as the environment does. Throughout the living world, beings have developed a wide range of solutions applied in nature to either resist changes in temperature, or try and maintain normal functioning in the presence of such changes. Understanding them is fascinating, and particularly important under the current climatic circumstances.</p>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>

                </div>
            </section>
