<!--==================== PORTFOLIO 4 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/cd/Scophthalmus.jpg/640px-Scophthalmus.jpg" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target = "_blank" href="https://commons.wikimedia.org/wiki/File:Scophthalmus.jpg">Dan Kollmann</a>,<br> <a target="_blank" href="https://creativecommons.org/licenses/by-sa/4.0">CC BY-SA 4.0</a>, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Research article</h3>
        <p class="portfolio__description">Using acoustic telemetry to locate flatfish spawning areas: Estuarine migrations of turbot <em>Scophthalmus maximus</em> and European flounder <em>Platichthys flesus</em></p>
        <p class="portfolio__description">Baden, C., Christoffersen, M., <strong>Flávio, H.</strong>, Brown, E., Aarestrup, K., Svendsen, J.C. (2022)</p>

        <p class="portfolio__description">Journal of Sea Research, 183, 102187.</p>

        <a download="" target="_blank" href="assets/pdf/Baden_et_al_2022_Using_acoustic_telemetry_to_locate_flatfish_spawning_areas.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1016/j.seares.2022.102187" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
