<!--==================== PORTFOLIO 3 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Fly_Fishing_%28154375843%29.jpeg/640px-Fly_Fishing_%28154375843%29.jpeg" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Fly_Fishing_(154375843).jpeg">Paul Nute</a>,<br> CC0, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Research article</h3>
        <p class="portfolio__description">Investigating angler satisfaction: the relevance of catch, motives and contextual conditions.</p>
        <p class="portfolio__description">Gundelund, C., Arlinghaus, R., Birdsong, M., <strong>Flávio, H.</strong>, Skov, C. (2022)</p>

        <p class="portfolio__description">Fisheries Research, 250, 106294.</p>

        <a download="" target="_blank" href="assets/pdf/Gundelund_et_al_2022_Investigating_angler_satisfaction.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1016/j.fishres.2022.106294" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
