<!--==================== PORTFOLIO 7 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/Erriff_River%2C_Aasleagh_Falls_%283585850638%29.jpg/625px-Erriff_River%2C_Aasleagh_Falls_%283585850638%29.jpg" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Erriff_River,_Aasleagh_Falls_(3585850638).jpg">Michael Clarke, Erriff River</a>, <br> <a target="_blank" href="https://creativecommons.org/licenses/by-sa/2.0/">CC BY-SA 2.0</a>, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Research article</h3>
        <p class="portfolio__description">A Physical Bottleneck Increases Predation on Atlantic Salmon Smolts During Seaward Migration in an Irish Index River</p>
        <p class="portfolio__description">Sortland, L. K., Wightman, G., <strong>Flávio, H.</strong>, Aarestrup, K., Roche, W. (in press)</p>

        <p class="portfolio__description"><em>Fisheries Management and Ecology</em></p>

        <a download="" target="_blank" href="assets/pdf/Sortland_et_al_2025_A_Physical_Bottleneck_Increases_Predation.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1111/fme.12779" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
