<!--==================== PORTFOLIO 2 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="assets/img/home/supeRbaits.png" alt="" class="portfolio__img">
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Resource article</h3>
        <p class="portfolio__description">Fishing for DNA? Designing baits for population genetics in target enrichment experiments: guidelines, considerations and the new tool supeRbaits.</p>
        <p class="portfolio__description">Jiménez-Mena, B., <strong>Flávio, H.</strong>, Henriques, R., Manuzzi, A., Ramos, M., Meldrup, D., Edson, J., Pálsson, S., Ólafsdóttir, G. A., Ovenden, J. R., Nielsen E. (2022)</p>

        <p class="portfolio__description">Molecular Ecology Resources. 22, 5, 2105-2119.</p>

        <a download="" target="_blank" href="assets/pdf/Jimenez-Mena_et_al_2022_Fishing_for_DNA.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="http://doi.org/10.1111/1755-0998.13598" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>