<section class="skills section">
    <h2 class="section__title"><a href="#section">Skills</a></h2>
    <span class="section__subtitle">Things I've learned along the way</span>

    <div class="skills__container container grid">
        <!--==================== SKILLS 1 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-pencil skills__icon"></i>
                <h3 class="skills__title">Course <br> teaching</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Course teaching</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p>I've taught bachelor-level courses in ecophysiology, highlighting the role and importance of comparative physiology in advancing our knowledge of the natural world. Students are encouraged to attentively observe their surroundings, and in-class debates foment and healthy exchanging of ideas and viepoints.</p>

                        <p>I've also led several study groups focused on R coding and statistical analyses, and past workshop topics include biomonitoring of rivers, acoustic telemetry data analysis, and R coding in general.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 2 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-code skills__icon"></i>
                <h3 class="skills__title">R stats <br> programming</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">R stats programming</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p>Over the years I have developed a strong background in R programming, including for data cleaning and statistical analyses. On top of being the developer and maintainer of the R package actel, I have also collaborated with other people in the development of supeRbaits and RSP. I am also currently working on pyroresp.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 3 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-screwdriver-wrench skills__icon"></i>
                <h3 class="skills__title">Equipment <br> assembly</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Equipment assembly</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                         <p> From concetualization, to CAD, to assembling, wiring, and programing, I've done a bit of everything. Most of my constructions relate to my respirometry work, and my strong believe in being able to monitor experiments remotely :)</p>
                         <p> I'm gradually starting to write down my projects and creations in the section of this site. It is still a work in progress, but fell free to have a look!</p>

                        <div class="portfolio__learn-more">
                            <a href="/workshop.html" class="button button--flex">
                                To the workshop <i class="fa-solid fa-screwdriver-wrench button__icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 4 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-fish-fins skills__icon"></i>
                <h3 class="skills__title">Aquatic animal <br> husbandry</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Aquatic animal husbandry</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                            <p>Recirculating Aquatic Systems (RAS) are a great way to maintain aquatic organisms. I have been trained in the different life-support systems for aquatic animals, and can confidently build RAS. This also extends to the gradient that goes from fully flow-through systems to fully closed systems.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 5 ====================-->
        <div class="skills__content">
            <div>
                <!-- <i class="uil uil-lightbulb skills__icon"></i> -->
                <i class="fa-regular fa-lightbulb skills__icon"></i>
                <h3 class="skills__title">Experimental <br> design</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Experimental design</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p>Both for my own experiments and when mentoring students, experimental design plays a central role in how I prepare my research. From the numbers of animals required, to the groups we need and the variables we aim to collect, everything is thought through before the experiment starts. This, together with a previously-drawn timeline, ensures that no time nor animals are wasted when we do research.</p>
                    </div>
                </div>
            </div>
        </div>
        <!--==================== SKILLS 6 ====================-->
        <div class="skills__content">
            <div>
                <i class="fa-solid fa-users skills__icon"></i>
                <h3 class="skills__title">Team <br> leadership</h3>
            </div>

            <span class="button button--flex button--small button--link skills__button">
                View More
                <i class="uil uil-arrow-right button__icon"></i>
            </span>

            <div class="skills__modal">
                <div class="skills__modal-content">
                    <h4 class="skills__modal-title">Team leadership</h4>
                    <i class="uil uil-times skills__modal-close"></i>

                    <div class="skills__modal-skills grid">
                        <p>Over the years, I have learned how to work with a wide variety of personalities. I strive to be a present colleague and mentor. I make a strong effort to get to know those working with me and understand what matters to them. I aim to make sure our work environment feels safe and welcoming for everyone. I want students to feel that their ideas are welcome, and that we are working together to achieve a common goal. Ultimately, I want science to be challenging but fun for everyone involved :)</p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
