<!--==================== PORTFOLIO 9 ====================-->
<div class="portfolio__content grid swiper-slide">
    <div class="portfolio__img-div">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/86/Brook_trout_01.jpg/640px-Brook_trout_01.jpg" alt="" class="portfolio__img">

        <p class="portfolio__img-source">
            <a target="_blank" href="https://commons.wikimedia.org/wiki/File:Brook_trout_01.jpg">Brook trout juvenile</a>, <br> <a target="_blank" href="https://en.wikipedia.org/wiki/Public_domain">Public Domain</a>, via Wikimedia Commons
        </p>
    </div>

    <div class="portfolio__data">
        <h3 class="portfolio__title">Perspective article</h3>
        <p class="portfolio__description">How small can they go? Microelectronic tags for movement ecology of small aquatic organisms</p>
        <p class="portfolio__description">Lennox, R., Mastrodimitropoulos, P., <strong>Flávio, H.*</strong>, Cyr, K., Deng, Z., Cooke, S., Piczak, M. (2025)</p>

        <p class="portfolio__description"><em>Fisheries</em></p>

        <a download="" target="_blank" href="assets/pdf/Lennox_et_al_2025-How_small_can_they_go_Microelectronic_tags_for_movement_ecology_of_small_aquatic_organisms.pdf" class="button button--flex button--small portfolio__button_download">
            PDF <i class="uil uil-arrow-down button__icon"></i>
        </a>
        <a target="_blank" href="https://doi.org/10.1093/fshmag/vuaf002" class="button button--flex button--small portfolio__button_online">
            DOI <i class="uil uil-external-link-alt button__icon"></i>
        </a>
    </div>
</div>
